body {
  margin: 0;
  padding: 0;
  background: #252323;
}
h1{
    background-color: #000000;
}
h2{
    color: #FFFFFF;
}
#form #text{
    width: 300px;
    margin-right: 10px;
    margin-left: 30px;
}
#form #text2{
    width: 300px;
    margin-right: 10px;
    margin-left: 30px;
}
#form #text3{
    width: 300px;
    margin-right: 10px;
    margin-left: 30px;
}

#form #text4{
    width: 300px;
    margin-right: 10px;
    margin-left: 30px;
}

#label{
    margin-left: 30px;
}
#label2{
    margin-left: 30px;
}
#label3{
    margin-left: 30px;
}
#label4{
    margin-left: 30px;
}
button{
    margin-top: -50px;
}
#create{
    margin-left:30px;
}
