<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Create</title>
    <link rel ="stylesheet" href="/generic.css">
</head>
<body>
<h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>

<a  href="/main"><button type="button" class="btn btn-secondary mr-3">Go Back</button></a>

<p><a  href="/createActor"><button type="button" class="btn btn-primary mr-3 btn-lg">Create New Actor</button></a></p>
<p><a  href="/createMovie"><button type="button" class="btn btn-primary mr-3 btn-lg">Create New Movie</button></a></p>
<p><a  href="/insertActorInMovie"><button type="button" class="btn btn-primary mr-3 btn-lg">Introduce actors inside movies</button></a></p>

</body>
</html>