<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
<head>
    <title>Home</title>
    <link rel ="stylesheet" href="/index.css">
</head>
<body>
    <h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>
    <h2 class="text-center"> Welcome to oficial page from movie's database in 2021 </h2>
    <h3 class="text-center"> On this page you can search,create,delete and edit this database</h3>
    <div class="container d-flex flex-inline" >
        <a  href="/main"><button type="button" class="btn btn-primary mr-3 btn-lg">Continue</button></a>
    </div>
</body>
</html>