<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
<head>
    <title>General Main</title>
    <link rel ="stylesheet" href="/main.css">
</head>
<body>
<h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>

<div class="container d-flex flex-inline" >
    <a  href="/search"><button type="button" class="btn btn-primary mr-3 btn-lg">Search</button></a>
    <a  href="/create"><button type="button" class="btn btn-primary mr-3 btn-lg">Create</button></a>
    <a  href="/edit"><button type="button" class="btn btn-primary mr-3 btn-lg" >Edit</button></a>
    <a  href="/delete"><button type="button" class="btn btn-primary mr-3 btn-lg">Delete</button></a>
</div>
</body>
</html>