<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet"
      href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />

<script src="http://code.jquery.com/jquery-1.8.2.js"
        type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"
        type="text/javascript"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movies from Director</title>
    <link rel ="stylesheet" href="/table.css">
</head>
<body>

<h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>
<h2 class="text-center">Movies from Director</h2>

<a  href="/search"><button type="button" class="btn btn-secondary mr-3">Go Back</button></a>
<form id="form" class="form" action="" method="get">
    <label for="text" id="label" class="text-info">Director:</label><br>
    <div class="container d-flex flex-inline" >
    <input type="text" name="person_name" id="text" class="form-control" placeholder="Director from movie">
    <input type="submit" name="submit" class="btn btn-primary mr-3" value="Search">
    </div>
</form>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Budget</th>
        <th scope="col">Homepage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${movies}">
        <td>[[${m.movie_id}]]</td>
        <td>[[${m.title}]]</td>
        <td>[[${m.budget}]]</td>
        <td>[[${m.homepage}]]</td>
    </tr>

    </tbody>
</table>

<script>
$(() => {
    $('#text').autocomplete({
        source : '/getDirectors'
    });
});
</script>

</body>
</html>