<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movies from Genre</title>
    <link rel ="stylesheet" href="/table.css">
</head>
<body>
<h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>
<h2 class="text-center">Movies from Genre</h2>

<a  href="/search"><button type="button" class="btn btn-secondary mr-3">Go Back</button></a>

<form id="form" class="form" action="" method="get">
    <label for="text" id="label" class="text-info">Genre:</label><br>
    <div class="container d-flex flex-inline" >
        <select class="custom-select" id="text" name="genre_name">
            <option selected>Choose...</option>
            <option value="Adventure">Adventure</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Animation">Animation</option>
            <option value="Drama">Drama</option>
            <option value="Horror">Horror</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="History">History</option>
            <option value="Western">Western</option>
            <option value="Thriller">Thriller</option>
            <option value="Crime">Crime</option>
            <option value="Documentary">Documentary</option>
            <option value="ScienceFiction">ScienceFiction</option>
            <option value="Mystery">Mystery</option>
            <option value="Music">Music</option>
            <option value="Romance">Romance</option>
            <option value="Family">Family</option>
            <option value="War">War</option>
            <option value="Foreign">Foreign</option>
            <option value="TV Movie">TV Movie</option>
        </select>
    <input type="submit" class="btn btn-primary mr-3" name="submit" value="Search">
    </div>
</form>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Budget</th>
        <th scope="col">Homepage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${movies}">
        <td>[[${m.movie_id}]]</td>
        <td>[[${m.title}]]</td>
        <td>[[${m.budget}]]</td>
        <td>[[${m.homepage}]]</td>
    </tr>

    </tbody>
</table>
</body>
</html>