<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
<head>
    <title>Main Search</title>
    <link rel ="stylesheet" href="/generic.css">
</head>
<body>
<h1 class="text-center text-info">MOVIE'S DATABASE 2021</h1>

    <a  href="/main"><button type="button" class="btn btn-secondary mr-3">Go Back</button></a>

    <p><a  href="/moviesA"><button type="button" class="btn btn-primary mr-3 btn-lg">Search movies by actor</button></a></p>
    <p><a  href="/moviesC"><button type="button" class="btn btn-primary mr-3 btn-lg">Search movies by character</button></a></p>
    <p><a  href="/moviesT"><button type="button" class="btn btn-primary mr-3 btn-lg" >Search movies by title</button></a></p>
    <p><a  href="/moviesG"><button type="button" class="btn btn-primary mr-3 btn-lg">Search movies by genre</button></a></p>
    <p><a  href="/moviesD"><button type="button" class="btn btn-primary mr-3 btn-lg">Search movies by director</button></a></p>

</body>
</html>